h3 {
  text-align: center;
  color: tomato;
  font-style: italic;
}
h2 {
  text-align: center;
  color: tomato;
  font-style: italic;
}

p {
  text-align: center;
}
.skill-header {
  text-align: left;
}
.skill-container {
  border: solid tomato;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}
body {
  background-color: bisque;
}
a {
  color: tomato;
}
