h3 {
  text-align: auto; 
  font-family: 'Roboto Condensed', sans-serif;
}
h4 {
  text-align: auto; 
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  text-align: center;
}


.skill-header {
  text-align: left;
}
.skill-container {
  border: solid tomato;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
}
